#### This sheet is for finding good available data in CALIFORNIA dataset, or other states?

Gameplan to get input for rough model
1. location
1. covid
1. health
1. govt action

Cleaning steps
1. nulls
1. datatypes
1. ??

EDA steps

In [1]:
# imports

import pandas as pd

In [2]:
# other settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
# read in CA data
data = pd.read_csv('./data/data_ca_raw.csv')
data.shape

/Users/nevochka/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(17700, 110)

In [4]:
data.info(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17700 entries, 0 to 17699
Data columns (total 110 columns):
 #   Column                              Dtype
---  ------                              -----
 0   Unnamed: 0                          int64
 1   Unnamed: 0.1                        int64
 2   key                                 object
 3   date                                object
 4   wikidata                            object
 5   datacommons                         object
 6   country_code                        object
 7   country_name                        object
 8   subregion1_code                     object
 9   subregion1_name                     object
 10  subregion2_code                     float64
 11  subregion2_name                     object
 12  locality_code                       object
 13  locality_name                       object
 14  3166-1-alpha-2                      object
 15  3166-1-alpha-3                      object
 16  aggregation_level                   int64
 17  new_confirmed                       float64
 18  new_deceased                        float64
 19  new_recovered                       float64
 20  new_tested                          float64
 21  total_confirmed                     float64
 22  total_deceased                      float64
 23  total_recovered                     float64
 24  total_tested                        float64
 25  new_hospitalized                    float64
 26  total_hospitalized                  float64
 27  current_hospitalized                float64
 28  new_intensive_care                  float64
 29  total_intensive_care                float64
 30  current_intensive_care              float64
 31  new_ventilator                      float64
 32  total_ventilator                    float64
 33  current_ventilator                  float64
 34  population                          float64
 35  population_male                     float64
 36  population_female                   float64
 37  rural_population                    float64
 38  urban_population                    float64
 39  largest_city_population             float64
 40  clustered_population                float64
 41  population_density                  float64
 42  human_development_index             float64
 43  population_age_00_09                float64
 44  population_age_10_19                float64
 45  population_age_20_29                float64
 46  population_age_30_39                float64
 47  population_age_40_49                float64
 48  population_age_50_59                float64
 49  population_age_60_69                float64
 50  population_age_70_79                float64
 51  population_age_80_89                float64
 52  population_age_90_99                float64
 53  population_age_80_and_older         float64
 54  gdp                                 float64
 55  gdp_per_capita                      float64
 56  human_capital_index                 float64
 57  open_street_maps                    float64
 58  latitude                            float64
 59  longitude                           float64
 60  elevation                           float64
 61  area                                float64
 62  rural_area                          float64
 63  urban_area                          float64
 64  life_expectancy                     float64
 65  smoking_prevalence                  float64
 66  diabetes_prevalence                 float64
 67  infant_mortality_rate               float64
 68  adult_male_mortality_rate           float64
 69  adult_female_mortality_rate         float64
 70  pollution_mortality_rate            float64
 71  comorbidity_mortality_rate          float64
 72  hospital_beds                       float64
 73  nurses                              float64
 74  physicians                          float64
 75  health_expenditure                  float64
 76  out_of_pocket_health_expenditure    float64
 77  mobility_retail_and_recreation      float64
 78  mobility_grocery_and_pharmacy       float64
 79  mobility_parks                      float64
 80  mobility_transit_stations           float64
 81  mobility_workplaces                 float64
 82  mobility_residential                float64
 83  school_closing                      float64
 84  workplace_closing                   float64
 85  cancel_public_events                float64
 86  restrictions_on_gatherings          float64
 87  public_transport_closing            float64
 88  stay_at_home_requirements           float64
 89  restrictions_on_internal_movement   float64
 90  international_travel_controls       float64
 91  income_support                      float64
 92  debt_relief                         float64
 93  fiscal_measures                     float64
 94  international_support               float64
 95  public_information_campaigns        float64
 96  testing_policy                      float64
 97  contact_tracing                     float64
 98  emergency_investment_in_healthcare  float64
 99  investment_in_vaccines              float64
 100 stringency_index                    float64
 101 noaa_station                        float64
 102 noaa_distance                       float64
 103 average_temperature                 float64
 104 minimum_temperature                 float64
 105 maximum_temperature                 float64
 106 rainfall                            float64
 107 snowfall                            float64
 108 dew_point                           float64
 109 relative_humidity                   float64
dtypes: float64(94), int64(3), object(13)
memory usage: 14.9+ MB

In [5]:
data['subregion2_name'].value_counts()

Alameda County            295
Madera County             295
Lake County               295
Amador County             295
Placer County             295
Contra Costa County       295
Yolo County               295
Tuolumne County           295
Modoc County              295
Sutter County             295
Solano County             295
Calaveras County          295
Napa County               295
Los Angeles County        295
San Francisco County      295
Sonoma County             295
Plumas County             295
Orange County             295
Tehama County             295
San Bernardino County     295
Nevada County             295
Sacramento County         295
Yuba County               295
Lassen County             295
Kings County              295
Humboldt County           295
Trinity County            295
Del Norte County          295
Tulare County             295
Kern County               295
Monterey County           295
El Dorado County          295
Santa Cruz County         295
Sierra County             295
Merced County             295
San Joaquin County        295
Butte County              295
Glenn County              295
Stanislaus County         295
Mendocino County          295
Imperial County           295
San Diego County          295
Colusa County             295
Fresno County             295
Marin County              295
Ventura County            295
Santa Barbara County      295
Shasta County             295
Alpine County             295
San Benito County         295
San Mateo County          295
Riverside County          295
Siskiyou County           295
Mariposa County           295
San Luis Obispo County    295
Santa Clara County        295
Mono County               295
Inyo County               295
Name: subregion2_name, dtype: int64

#### Isolate location info, create lat-long file

In [6]:
# new = old[['A', 'C', 'D']].copy()

data_geo = data[['open_street_maps',
 'latitude',
 'longitude',
 'elevation',
 'area',
 'rural_area',
 'urban_area']].copy()

In [7]:
data_geo.shape

(17700, 7)

In [8]:
data_geo.head()

,open_street_maps,latitude,longitude,elevation,area,rural_area,urban_area
0,165475.0,37.0,-120.0,884.0,423970.0,NaN,NaN
1,165475.0,37.0,-120.0,884.0,423970.0,NaN,NaN
2,165475.0,37.0,-120.0,884.0,423970.0,NaN,NaN
3,165475.0,37.0,-120.0,884.0,423970.0,NaN,NaN
4,165475.0,37.0,-120.0,884.0,423970.0,NaN,NaN

In [9]:
# save to file for each state.  Uncomment to revise.

# data_geo.to_csv('./data/data_ca_geo.csv')
# data_geo.to_csv('./data/data_colo_geo.csv')
# data_geo.to_csv('./data/data_oh_geo.csv')

In [10]:
data_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17700 entries, 0 to 17699
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   open_street_maps  17700 non-null  float64
 1   latitude          17700 non-null  float64
 2   longitude         17700 non-null  float64
 3   elevation         1180 non-null   float64
 4   area              17700 non-null  float64
 5   rural_area        0 non-null      float64
 6   urban_area        0 non-null      float64
dtypes: float64(7)
memory usage: 968.1 KB

In [11]:
data_geo['latitude'].value_counts()

39.590000    590
37.930000    590
38.270000    295
38.210000    295
39.430000    295
37.777500    295
37.000000    295
40.130000    295
39.270000    295
34.830000    295
36.750000    295
33.020000    295
36.583333    295
40.660000    295
38.580000    295
37.220000    295
34.360000    295
38.500000    295
37.190000    295
41.740000    295
37.030000    295
36.610000    295
36.070000    295
38.553889    295
33.730000    295
39.040000    295
39.300000    295
40.650000    295
37.440000    295
38.040000    295
40.760000    295
37.916667    295
37.778333    295
39.090000    295
36.240000    295
40.010000    295
33.670000    295
35.380000    295
36.230000    295
38.020000    295
41.583333    295
40.800000    295
35.340000    295
39.660000    295
39.060000    295
38.440000    295
37.580000    295
38.780000    295
34.540000    295
37.360000    295
38.450000    295
34.050000    295
38.510000    295
39.180000    295
41.600000    295
37.650000    295
37.560000    295
33.040000    295
Name: latitude, dtype: int64

#### Geographic info -- summary:
https://github.com/GoogleCloudPlatform/covid-19-open-data/blob/main/docs/table-geography.md

California:
1. There are 295 observations (rows) for CA-state, and for each county (58 counties)
1. Observations are at the day level (Oct 2, Oct 3, etc.), starting Jan 1, 2020
1. No data for:  elevation, rural vs. urban designation
1. All geo values are floats.

Colorado, Ohio -- TBD

In [12]:
# create a lat-long file
# new = old[['A', 'C', 'D']].copy()

data_latlong = data[['latitude', 'longitude']].copy()
data_latlong.shape

(17700, 2)

In [13]:
data_latlong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17700 entries, 0 to 17699
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   17700 non-null  float64
 1   longitude  17700 non-null  float64
dtypes: float64(2)
memory usage: 276.7 KB

In [14]:
data_latlong.head()

   latitude  longitude
0      37.0     -120.0
1      37.0     -120.0
2      37.0     -120.0
3      37.0     -120.0
4      37.0     -120.0

In [15]:
# save latlong data to file for each state. Uncomment to revise.

# data_latlong.to_csv('./data/data_ca_latlong.csv')
# data_latlong.to_csv('./data/data_colo_latlong.csv')
# data_latlong.to_csv('./data/data_oh_latlong.csv')

#### Covid info -- summary:
https://github.com/GoogleCloudPlatform/covid-19-open-data/blob/main/docs/table-epidemiology.md

California:
1. The columns with the most Covid data are 
> new_confirmed, new_recovered, total_confirmed, total_deceased.
1. Covid data has several empty columns, include hospitalizations, intensive care, ventilators
    
    
Colorado, Ohio -- TBD

In [16]:
data_covid = data[['date', 'new_confirmed',
 'new_deceased',
 'new_recovered',
 'new_tested',
 'total_confirmed',
 'total_deceased',
 'total_recovered',
 'total_tested',
 'new_hospitalized',
 'total_hospitalized',
 'current_hospitalized',
 'new_intensive_care',
 'total_intensive_care',
 'current_intensive_care',
 'new_ventilator',
 'total_ventilator',
 'current_ventilator']].copy()
data_covid.shape

(17700, 18)

In [17]:
data_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17700 entries, 0 to 17699
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    17700 non-null  object
 1   new_confirmed           12994 non-null  float64
 2   new_deceased            12768 non-null  float64
 3   new_recovered           0 non-null      float64
 4   new_tested              461 non-null    float64
 5   total_confirmed         13059 non-null  float64
 6   total_deceased          12827 non-null  float64
 7   total_recovered         0 non-null      float64
 8   total_tested            462 non-null    float64
 9   new_hospitalized        0 non-null      float64
 10  total_hospitalized      0 non-null      float64
 11  current_hospitalized    417 non-null    float64
 12  new_intensive_care      0 non-null      float64
 13  total_intensive_care    0 non-null      float64
 14  current_intensive_care  417 non-null    float64
 15  new_ventilator          0 non-null      float64
 16  total_ventilator        0 non-null      float64
 17  current_ventilator      0 non-null      float64
dtypes: float64(17), object(1)
memory usage: 2.4+ MB

In [18]:
data_covid.head().T

,0,1,2,3,4
date,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05
new_confirmed,NaN,NaN,NaN,NaN,NaN
new_deceased,NaN,NaN,NaN,NaN,NaN
new_recovered,NaN,NaN,NaN,NaN,NaN
new_tested,NaN,NaN,NaN,NaN,NaN
total_confirmed,NaN,NaN,NaN,NaN,NaN
total_deceased,NaN,NaN,NaN,NaN,NaN
total_recovered,NaN,NaN,NaN,NaN,NaN
total_tested,NaN,NaN,NaN,NaN,NaN
new_hospitalized,NaN,NaN,NaN,NaN,NaN
total_hospitalized,NaN,NaN,NaN,NaN,NaN
current_hospitalized,NaN,NaN,NaN,NaN,NaN
new_intensive_care,NaN,NaN,NaN,NaN,NaN
total_intensive_care,NaN,NaN,NaN,NaN,NaN
current_intensive_care,NaN,NaN,NaN,NaN,NaN
new_ventilator,NaN,NaN,NaN,NaN,NaN
total_ventilator,NaN,NaN,NaN,NaN,NaN
current_ventilator,NaN,NaN,NaN,NaN,NaN

In [19]:
# save Covid data to file for each state.  Uncomment to revise.  

# data_covid.to_csv('./data/data_ca_covid.csv')
# data_covid.to_csv('./data/data_colo_covid.csv')
# data_covid.to_csv('./data/data_oh_covid.csv')

#### Health info -- summary:
https://github.com/GoogleCloudPlatform/covid-19-open-data/blob/main/docs/table-health.md

California:
- All columns are empty -- no data.    
    
Colorado, Ohio -- TBD

In [20]:
data_health = data[['life_expectancy',
 'smoking_prevalence',
 'diabetes_prevalence',
 'infant_mortality_rate',
 'adult_male_mortality_rate',
 'adult_female_mortality_rate',
 'pollution_mortality_rate',
 'comorbidity_mortality_rate',
 'hospital_beds',
 'nurses',
 'physicians',
 'health_expenditure',
 'out_of_pocket_health_expenditure']].copy()
data_health.shape

(17700, 13)

In [21]:
data_health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17700 entries, 0 to 17699
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   life_expectancy                   0 non-null      float64
 1   smoking_prevalence                0 non-null      float64
 2   diabetes_prevalence               0 non-null      float64
 3   infant_mortality_rate             0 non-null      float64
 4   adult_male_mortality_rate         0 non-null      float64
 5   adult_female_mortality_rate       0 non-null      float64
 6   pollution_mortality_rate          0 non-null      float64
 7   comorbidity_mortality_rate        0 non-null      float64
 8   hospital_beds                     0 non-null      float64
 9   nurses                            0 non-null      float64
 10  physicians                        0 non-null      float64
 11  health_expenditure                0 non-null      float64
 12  out_of_pocket_health_expenditure  0 non-null      float64
dtypes: float64(13)
memory usage: 1.8 MB

#### Government response info -- summary:

California:
- Data available at the **state level only**, not by county.    
    
Colorado, Ohio -- TBD

In [22]:
data_govt = data[[ 'school_closing',
 'workplace_closing',
 'cancel_public_events',
 'restrictions_on_gatherings',
 'public_transport_closing',
 'stay_at_home_requirements',
 'restrictions_on_internal_movement',
 'international_travel_controls',
 'income_support',
 'debt_relief',
 'fiscal_measures',
 'international_support',
 'public_information_campaigns',
 'testing_policy',
 'contact_tracing',
 'emergency_investment_in_healthcare',
 'investment_in_vaccines',
 'stringency_index']].copy()
data_govt.shape

(17700, 18)

In [23]:
data_govt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17700 entries, 0 to 17699
Data columns (total 18 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   school_closing                      280 non-null    float64
 1   workplace_closing                   280 non-null    float64
 2   cancel_public_events                280 non-null    float64
 3   restrictions_on_gatherings          280 non-null    float64
 4   public_transport_closing            280 non-null    float64
 5   stay_at_home_requirements           280 non-null    float64
 6   restrictions_on_internal_movement   280 non-null    float64
 7   international_travel_controls       280 non-null    float64
 8   income_support                      289 non-null    float64
 9   debt_relief                         280 non-null    float64
 10  fiscal_measures                     0 non-null      float64
 11  international_support               0 non-null      float64
 12  public_information_campaigns        280 non-null    float64
 13  testing_policy                      280 non-null    float64
 14  contact_tracing                     280 non-null    float64
 15  emergency_investment_in_healthcare  2 non-null      float64
 16  investment_in_vaccines              0 non-null      float64
 17  stringency_index                    280 non-null    float64
dtypes: float64(18)
memory usage: 2.4 MB

In [24]:
data_govt['school_closing'].isna().sum()        #head(120)

17420

In [25]:
data_govt['testing_policy'].value_counts()

2.0    141
1.0     89
3.0     30
0.0     20
Name: testing_policy, dtype: int64

#### Mobility info -- summary:
https://github.com/GoogleCloudPlatform/covid-19-open-data/blob/main/docs/table-mobility.md


"The data shows how visits to places, such as grocery stores and parks, are changing in each geographic region."


"These datasets show how visits and length of stay at different places change compared to a baseline. We calculate these changes using the same kind of aggregated and anonymized data used to show popular times for places in Google Maps.  The data is expressed as a percent change vs. a baseline value for that day of the week:
- The baseline is the median value, for the corresponding day of the week, during the 5-week period Jan 3–Feb 6, 2020.
- The datasets show trends over several months with the most recent data representing approximately 2-3 days ago—this is how long it takes to produce the datasets."

There are 6 measures for Mobility.


California:
- Full data for ['mobility_retail_and_recreation'], ['mobility_grocery_and_pharmacy'], ['mobility_workplaces']
- Data can be imputed for ['mobility_parks'], ['mobility_transit_stations'], [''mobility_residential']
- Alpine and Sierra counties have no Mobility data.  OK to drop -- these counties are the least populous, with 4,100 residents combined.  


Colorado, Ohio -- TBD

In [43]:
data_mobility = data[['subregion2_name', 'mobility_retail_and_recreation',
 'mobility_grocery_and_pharmacy',
 'mobility_parks',
 'mobility_transit_stations',
 'mobility_workplaces',
 'mobility_residential']].copy()
data_mobility.shape

(17700, 7)

In [44]:
data_mobility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17700 entries, 0 to 17699
Data columns (total 7 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   subregion2_name                 17110 non-null  object
 1   mobility_retail_and_recreation  12512 non-null  float64
 2   mobility_grocery_and_pharmacy   12012 non-null  float64
 3   mobility_parks                  10107 non-null  float64
 4   mobility_transit_stations       9930 non-null   float64
 5   mobility_workplaces             13387 non-null  float64
 6   mobility_residential            10950 non-null  float64
dtypes: float64(6), object(1)
memory usage: 968.1+ KB

In [45]:
data_mobility.describe()

,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential
count,12512.000000,12012.000000,10107.000000,9930.000000,13387.000000,10950.000000
mean,-23.548114,-2.721112,11.234392,-24.487412,-28.619183,10.049498
std,20.130481,13.690185,44.461950,26.839730,16.850129,7.219616
min,-100.000000,-68.000000,-87.000000,-86.000000,-83.000000,-7.000000
25%,-37.000000,-11.000000,-16.000000,-43.000000,-39.000000,5.000000
50%,-25.000000,-4.000000,7.000000,-26.000000,-31.000000,9.000000
75%,-11.000000,5.000000,29.000000,-7.000000,-17.000000,14.000000
max,113.000000,114.000000,323.000000,97.000000,14.000000,37.000000

In [46]:
data_mobility.groupby('subregion2_name').mean()

,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential
subregion2_name,,,,,,
Alameda County,-40.004082,-13.228571,11.428571,-54.061224,-41.946939,17.289796
Alpine County,NaN,NaN,NaN,NaN,NaN,NaN
Amador County,-8.981395,4.282407,-51.666667,NaN,-25.540909,2.459459
Butte County,-21.416327,0.069388,8.477273,-22.807018,-24.702041,6.942857
Calaveras County,-24.990741,17.184211,8.545455,NaN,-21.790909,5.320896
Colusa County,-10.800000,1.745098,NaN,-12.977273,-21.490909,NaN
Contra Costa County,-32.963265,-6.583673,6.040816,-45.906122,-36.661224,14.057143
Del Norte County,8.935829,20.226994,8.333333,NaN,-17.027273,3.000000
El Dorado County,-19.885714,-2.159184,87.745370,-20.155914,-32.395918,9.232653
Fresno County,-22.648980,-0.142857,-7.057143,-22.412245,-28.240816,8.081633
Glenn County,-10.904762,8.906077,-18.200000,12.840183,-23.750000,1.684211
Humboldt County,-25.873469,-2.808333,52.595455,-35.757991,-27.628099,7.416327
Imperial County,-37.906122,-20.302041,-53.914286,-35.004545,-31.436735,12.151020
Inyo County,-9.108696,-7.725490,11.986239,NaN,-26.963636,NaN
Kern County,-19.428571,-0.979592,13.004082,-10.722449,-27.359184,7.534694
Kings County,-15.518367,-1.775510,-5.104545,-23.818182,-24.260331,6.608163
Lake County,-10.109091,7.113636,32.076923,-15.622642,-23.464435,6.218605
Lassen County,-8.604790,18.251534,NaN,NaN,-14.127273,1.833333
Los Angeles County,-32.538776,-11.061224,-15.873469,-37.587755,-33.865306,13.514286
Madera County,-21.824490,0.640496,31.803738,25.445455,-24.888430,7.118367
Marin County,-36.706122,-13.661224,8.619469,-38.857741,-38.904959,14.906122
Mariposa County,-13.882353,-2.039216,14.483254,NaN,-25.759091,NaN
Mendocino County,-16.172727,4.500000,38.559633,-19.170213,-22.907950,6.401826
Merced County,-16.146939,-4.987755,31.040909,-11.391837,-24.044898,7.175510
Modoc County,-59.000000,-3.720000,NaN,NaN,-19.128205,NaN
Mono County,-31.672316,-11.418605,-21.790698,-48.217391,-36.400000,NaN
Monterey County,-25.979592,-0.379592,6.526531,-10.881057,-27.179592,7.583673
Napa County,-28.518367,-12.292576,31.298343,-21.500000,-31.133891,9.983264
Nevada County,-25.893805,-0.886364,51.591346,-38.082569,-25.225941,7.152542
Orange County,-32.767347,-7.008163,-3.697959,-37.477551,-34.220408,14.040816
Placer County,-25.763265,0.714286,35.303571,8.404545,-32.975510,10.628571
Plumas County,-4.861538,4.509804,NaN,NaN,-13.888889,NaN
Riverside County,-25.902041,-5.514286,-28.208163,-27.885714,-30.979592,10.204082
Sacramento County,-28.195918,-4.326531,11.612245,-38.375510,-33.453061,10.848980
San Benito County,-18.409091,-5.886364,-25.410959,-53.000000,-25.071130,10.650538
San Bernardino County,-23.485714,-3.497959,-8.040816,-20.718367,-27.959184,9.632653
San Diego County,-31.951020,-10.604082,-9.681633,-43.771429,-34.461224,13.273469
San Francisco County,-56.093878,-25.216327,-22.322449,-60.918367,-52.261224,21.967347
San Joaquin County,-20.591837,-0.546939,13.118852,-17.938776,-26.440816,8.718367
San Luis Obispo County,-25.677551,-2.461224,18.352423,-27.159091,-29.457143,9.742857
San Mateo County,-37.465306,-10.485714,-8.897959,-64.673469,-44.391837,19.644898
Santa Barbara County,-29.248980,-5.436735,6.106122,-34.762295,-30.155102,9.338776
Santa Clara County,-42.967347,-14.155102,8.351020,-56.404082,-46.840816,19.967347
Santa Cruz County,-30.526531,-9.391837,16.123967,-45.600000,-32.787755,11.959184
Shasta County,-16.273469,5.865306,77.830986,-11.427273,-21.359184,4.726531
Sierra County,NaN,NaN,NaN,NaN,NaN,NaN
Siskiyou County,1.413636,19.440758,36.843137,31.909091,-18.045455,2.251397
Solano County,-24.808163,-6.812245,1.528889,-23.129707,-28.346939,10.555102
Sonoma County,-29.706122,-6.408163,9.652893,-32.258475,-28.693878,10.836735
Stanislaus County,-20.342857,-2.359184,19.586364,-10.204918,-25.840816,7.710204
Sutter County,-12.542857,-0.777273,-23.714286,-13.552000,-26.673640,6.046218
Tehama County,-17.804545,11.622727,5.970149,4.750000,-20.769874,5.313725
Trinity County,-6.020408,4.745098,NaN,NaN,-18.916667,NaN
Tulare County,-22.595918,0.416327,15.163636,-7.069388,-25.620408,6.877551
Tuolumne County,-15.468182,12.136364,12.413636,NaN,-21.272727,6.228571
Ventura County,-28.453061,-10.089796,-4.359184,-23.975510,-30.983673,11.779592
Yolo County,-30.542857,-8.409091,15.450000,-21.978166,-33.567347,12.004082
Yuba County,-6.163636,8.281818,38.919540,-12.121019,-25.945607,6.585774

In [47]:
data_mobility.to_csv('./data/data_ca_mobility.csv')

#### Population and Age info -- summary:
https://github.com/GoogleCloudPlatform/covid-19-open-data/blob/main/docs/table-demographics.md


California:
- Full data on Popluation (total, male, female), and age ranges
- No data for the columns below, thus they were omitted from the dataslice
'rural_population',
 'urban_population',
 'largest_city_population',
 'clustered_population',
 'population_density',
 'human_development_index'
'gdp',
 'gdp_per_capita',
 'human_capital_index'
 
Colorado, Ohio -- TBD

In [55]:
data_demo = data[['subregion2_name', 'population',
 'population_male',
 'population_female',
 'population_age_00_09',
 'population_age_10_19',
 'population_age_20_29',
 'population_age_30_39',
 'population_age_40_49',
 'population_age_50_59',
 'population_age_60_69',
 'population_age_70_79',
 'population_age_80_89',
 'population_age_90_99',
 'population_age_80_and_older']].copy()
data_demo.shape

(17700, 15)

In [56]:
data_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17700 entries, 0 to 17699
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   subregion2_name              17110 non-null  object
 1   population                   17700 non-null  float64
 2   population_male              17700 non-null  float64
 3   population_female            17700 non-null  float64
 4   population_age_00_09         17700 non-null  float64
 5   population_age_10_19         17700 non-null  float64
 6   population_age_20_29         17700 non-null  float64
 7   population_age_30_39         17700 non-null  float64
 8   population_age_40_49         17700 non-null  float64
 9   population_age_50_59         17700 non-null  float64
 10  population_age_60_69         17700 non-null  float64
 11  population_age_70_79         17700 non-null  float64
 12  population_age_80_89         17405 non-null  float64
 13  population_age_90_99         17405 non-null  float64
 14  population_age_80_and_older  17700 non-null  float64
dtypes: float64(14), object(1)
memory usage: 2.0+ MB

In [59]:
data_demo.describe()

,population,population_male,population_female,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_89,population_age_90_99,population_age_80_and_older
count,1.770000e+04,1.770000e+04,1.770000e+04,1.770000e+04,1.770000e+04,1.770000e+04,1.770000e+04,1.770000e+04,1.770000e+04,1.770000e+04,1.770000e+04,1.740500e+04,17405.000000,1.770000e+04
mean,1.323081e+06,6.742144e+05,6.844376e+05,1.722886e+05,1.791144e+05,2.026431e+05,1.942197e+05,1.711109e+05,1.684216e+05,1.402478e+05,8.310318e+04,3.893951e+04,9734.610169,4.750282e+04
std,5.129107e+06,2.672865e+06,2.724801e+06,6.903547e+05,7.277916e+05,8.037393e+05,7.731272e+05,6.674708e+05,6.503025e+05,5.578918e+05,3.410745e+05,1.510442e+05,37761.011920,1.874342e+05
min,1.111000e+03,6.060000e+02,5.050000e+02,9.200000e+01,1.410000e+02,1.260000e+02,9.000000e+01,1.220000e+02,1.890000e+02,2.050000e+02,9.600000e+01,2.300000e+01,5.000000,5.000000e+01
25%,5.190225e+04,2.669200e+04,2.521025e+04,4.900750e+03,5.058000e+03,5.939250e+03,5.875500e+03,5.409000e+03,7.442500e+03,7.700250e+03,4.646500e+03,1.900000e+03,475.000000,2.219500e+03
50%,2.035780e+05,9.998600e+04,1.035920e+05,2.519150e+04,2.795300e+04,2.686900e+04,2.529900e+04,2.293000e+04,2.582700e+04,2.380300e+04,1.436750e+04,6.399000e+03,1599.000000,7.689500e+03
75%,7.889368e+05,3.900208e+05,3.953178e+05,8.315575e+04,8.251875e+04,1.081085e+05,1.099732e+05,1.044205e+05,1.006218e+05,7.795700e+04,4.316650e+04,2.122700e+04,5306.000000,2.390100e+04
max,3.914482e+07,2.046806e+07,2.085654e+07,5.297960e+06,5.594857e+06,6.134141e+06,5.908592e+06,5.079947e+06,4.954811e+06,4.286163e+06,2.632208e+06,1.148734e+06,287183.000000,1.435918e+06

In [61]:
# save age and population data to file, uncomment to revise

# data_demo.to_csv('./data/data_ca_demo.csv')

### Conclusions:  
#### It appears that CA has good data for Mobility, Total Population, and Age Ranges.
#### For Government Response, data is available at state level only.

Suggest pulling Govt Response data for "western" states:
key  |  wikidata  |  datacommons
- Montana == US_MT  |  Q1212  |  geoId/30
- Idaho == US_ID  |  Q1221  |  geoId/16
- Washington US_WA  |  Q1223  |  geoId/53
- Oregon == US_OR  |  Q824  |  geoId/41
- California == US_CA  |  Q99  |  geoId/06
- Arizona == US_AZ  |  Q816  |  geoId/04
- Nevada == US_NV  |  Q1227  |  geoId/32
- Wyoming == US_WY  |  Q1214  |  geoId/56
- Utah == US_UT  |  Q829  |  geoId/49
- Colorado == US_CO  |  Q1261  |  geoId/08
- New Mexico == US_NM  |  Q1522  |  geoId/35
- Texas == US_TX  |  Q1439  |  geoId/48
- Oklahoma == US_OK  |  Q1649  |  geoId/40
- Nebraska == US_NE  |  Q1553  |  geoId/31
- Kansas == US_KS  |  Q1558  |  geoId/20
- North Dakota == US_ND  |  Q1207  |  geoId/38
- South Dakota == US_SD  |  Q1211  |  geoId/46

Otherwise, suggest using Mobility to look at CA states (along with population and age demographics)

In [29]:
# data_ca = pd.read_csv('./data/data_ca_raw.csv')
# data_ca.shape

/Users/nevochka/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(17700, 110)

In [30]:
data_ca.isnull().sum()

Unnamed: 0                                0
Unnamed: 0.1                              0
key                                       0
date                                      0
wikidata                                  0
datacommons                             295
country_code                              0
country_name                              0
subregion1_code                           0
subregion1_name                           0
subregion2_code                         590
subregion2_name                         590
locality_code                         17405
locality_name                         17405
3166-1-alpha-2                            0
3166-1-alpha-3                            0
aggregation_level                         0
new_confirmed                          4706
new_deceased                           4932
new_recovered                         17700
new_tested                            17239
total_confirmed                        4641
total_deceased                         4873
total_recovered                       17700
total_tested                          17238
new_hospitalized                      17700
total_hospitalized                    17700
current_hospitalized                  17283
new_intensive_care                    17700
total_intensive_care                  17700
current_intensive_care                17283
new_ventilator                        17700
total_ventilator                      17700
current_ventilator                    17700
population                                0
population_male                           0
population_female                         0
rural_population                      17700
urban_population                      17700
largest_city_population               17700
clustered_population                  17700
population_density                    17700
human_development_index               17700
population_age_00_09                      0
population_age_10_19                      0
population_age_20_29                      0
population_age_30_39                      0
population_age_40_49                      0
population_age_50_59                      0
population_age_60_69                      0
population_age_70_79                      0
population_age_80_89                    295
population_age_90_99                    295
population_age_80_and_older               0
gdp                                   17700
gdp_per_capita                        17700
human_capital_index                   17700
open_street_maps                          0
latitude                                  0
longitude                                 0
elevation                             16520
area                                      0
rural_area                            17700
urban_area                            17700
life_expectancy                       17700
smoking_prevalence                    17700
diabetes_prevalence                   17700
infant_mortality_rate                 17700
adult_male_mortality_rate             17700
adult_female_mortality_rate           17700
pollution_mortality_rate              17700
comorbidity_mortality_rate            17700
hospital_beds                         17700
nurses                                17700
physicians                            17700
health_expenditure                    17700
out_of_pocket_health_expenditure      17700
mobility_retail_and_recreation         5188
mobility_grocery_and_pharmacy          5688
mobility_parks                         7593
mobility_transit_stations              7770
mobility_workplaces                    4313
mobility_residential                   6750
school_closing                        17420
workplace_closing                     17420
cancel_public_events                  17420
restrictions_on_gatherings            17420
public_transport_closing              17420
stay_at_home_requirements             17420
restrictions_on_internal_movement     17420
international_travel_controls         17420
income_support                        17411
debt_relief                           17420
fiscal_measures                       17700
international_support                 17700
public_information_campaigns          17420
testing_policy                        17420
contact_tracing                       17420
emergency_investment_in_healthcare    17698
investment_in_vaccines                17700
stringency_index                      17420
noaa_station                            304
noaa_distance                           304
average_temperature                     304
minimum_temperature                     304
maximum_temperature                     304
rainfall                                304
snowfall                              17462
dew_point                               881
relative_humidity                       881
dtype: int64